<div class="nav-container">
    <!-- nav header -->
    <div class="nav-header">
        <ng-content select="[navHeader]"></ng-content>
    </div>

    <div class="nav-content">
        <!-- nav items -->
        <ng-container *ngFor="let navItem of navItems">
            <ng-container *ngIf="!navItem.hidden(navItem)">
                <ds-simple-side-nav-item [navItem]="navItem" *ngIf="navItem.type === 'simple'"></ds-simple-side-nav-item>

                <ds-expand-side-nav-item [navItem]="navItem" *ngIf="navItem.type === 'expand'"></ds-expand-side-nav-item>
            
                <ds-pack-side-nav-item [navItem]="navItem" *ngIf="navItem.type === 'pack'"></ds-pack-side-nav-item>

                <ds-separator-side-nav-item *ngIf="navItem.type === 'separator'"></ds-separator-side-nav-item>

                <ds-space-side-nav-item *ngIf="navItem.type === 'space'"></ds-space-side-nav-item>
            </ng-container>
        </ng-container>
    </div>

    <!-- nav footer -->
    <div class="nav-footer">
        <ng-content select="[navFooter]"></ng-content>
    </div>
</div>
